<a href="https://colab.research.google.com/github/PhilippeJustine/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

##Indention

In [49]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

##Python Variable

In [2]:
x=1 #This is an integer
a, b = 0,1
a, b, c = 0,1,2
print(x)
print(a)
print(b)
print(c)

1
1
2
3

In [4]:
x="one" #This is a string 
a, b = "zero", "one"
a, b, c = "zero", "one", "two"
print(x)
print(a)
print(b)
print(c)

one
zero
one
two

In [50]:
d="Philippe" #case sensitive
D="Justine"
print(d)
e="Binato"
print(d)
print(D)
print(e)

Philippe
Philippe
Justine
Binato

##Casting

In [20]:
f=float(9)
print(f)
g=int(9)
print(g)

9.0
9

##Type Function

In [21]:
h=1.0
i=1
j="function"
print(type(h))
print(type(i))
print(type(j))

<class 'float'>
<class 'int'>
<class 'str'>

##Double Quotes and Single Quotes

In [22]:
k='Single Quotes' 
l="Double Quotes"
#Both Works
print(k)
print(l)

Single Quotes
Double Quotes

##Multiple Variables

In [24]:
m,n,o="one", "two", "three" #Multiple Variables with Multiple Value
p=q=r="zero" #Multiple Variables with One Value
print(m)
print(n)
print(o)
print(p)
print(q)
print(r)

one
two
three
zero
zero
zero

##Output Variables

In [31]:
p="Introduction to Python."
print("I understand the" " " + p)

I understand the Introduction to Python.

##Operations in Python

In [35]:
q=2
r=8
print(q+r) #Addition

10

In [51]:
q=2
r=8
q -= r #This is equal to q=q-r
print(q)
print(type(q))

-6
<class 'int'>

In [38]:
s=0
t=8
s==s and t==t #This is 'and' function

True

In [43]:
s==t or t==t #This is 'or' function

True

In [44]:
not(s<t and t>s) #This is 'not' function

False

In [46]:
s is t #This is 's' function

False

In [47]:
s is not t #This is 'is not' function

True